.main{
    .loop-container{
        margin: 30px;
        padding: 30px;
        border-bottom: dashed rgb(126, 124, 124);
        div {
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: center;
            margin: 5px;
            text-align: left;
        }
        .export-particularly-btn{
            button {
               margin: auto auto;
            }
        }
    }
}
.end-row-container{
    p{
        text-align: center;
    }
}
.export-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}
