<div class="main" *ngIf="measurements">
    <div class="loop-container" *ngFor="let measurement of measurements | reversedMeasurementHistory; let i = index">
        <div class="order">
            <h3>Measurement No. <button class="btn btn-secondary">{{ measurements.length - i }}</button></h3>
        </div>
        <div class="characterstics">
            📕 Characterstics associated with this measurement:
        </div>
        <div class="gender-container">
            <div class="gender-icon" *ngIf="measurement.gender === 'male'">
                <i class="fa fas fa-male"></i>
            </div>
            <div class="gender-icon" *ngIf="measurement.gender === 'female'">
                <i class="fa fas fa-female"></i>
            </div>
            Gender: {{measurement.gender}}
        </div>
        <div class="height-measuring-unit-container">
            📏 Height Measuring Unit: {{measurement.heightUnit}}
        </div>
        <div class="height-measuring-container" *ngIf="measurement.heightUnit === 'imperial'">
            ➡
            Feets: {{measurement.height1}} '
            Inches: {{measurement.height2}} "
        </div>
        <div class="height-measuring-container" *ngIf="measurement.heightUnit === 'metric'">
            Meters: {{measurement.height1}} M
            Centimeters: {{measurement.height2}} CM
        </div>
        <div class="weight-measuring-unit-container">
            ⚖ Weight Measuring Unit: {{measurement.unit}}
        </div>
        <div class="weight-measuring-container">
            ➡
            Weight: {{measurement.weight}} {{measurement.unit}}
        </div>
        <div class="date-container">
            🗓
            Date & Time: {{measurement.date}}
        </div>
        <div class="bmi-container">
            ✔
            BMI (Body Mass Index): {{measurement.bmi | number}}
        </div>
        <div class="bmi-container">
            🎇
            Your BMI consided : {{measurement.weight_description }}
        </div>
        <div class="ideal-weight-container">
            👌
            Your ideal weight based on the provided information : {{measurement.ideal_weight | number }} {{ measurement.unit }}
        </div>
        <div class="weight-to-lose-container">
            👍
            The amount of weight that should be lost : {{measurement.weight_to_lose | number }} {{ measurement.unit }}
        </div>
        <div class="extra-notes-container" *ngIf="measurement.extra_notes">
            📝
            Additional Notes: {{measurement.extra_notes}}
        </div>
        <div class="export-particularly-btn">
            <button class="btn btn-secondary" (click)="export(i)">Export</button>
        </div>
    </div>
</div>
<div class="end-row-container">
    <p>🙌 YAY!! You have reached the end of the list! 🙌</p>
</div>
<div class="export-btn-container">
    <button class="btn btn-secondary" (click)="export()">Export All Measurements</button>
</div>