<div class="main-banner-container">
    <div class="title-container">
        <h2>Your all-in-one calculator</h2>
    </div>
    <div class="description-container">
        <p>This calculator is designed to make sure you stay as fantastic as you are.</p>
    </div>
</div>
<div class="how-it-works-container">
    <div class="description-container">
        <h3>How it works?</h3>
    </div>
    <div class="description">
        <p>
            This calculator requires some information
            to be filled in order to provide the ideal
            weight for the person, with the characterstics
            provided.
            After submitting the information needed,
            the calculator will calculate the ideal weight and 
            compare it with the person's weight. The calculator 
            will also provides a visual graph that pictures the weight
            of the person and a graph that analyzes the person's 
            weight and the over-weight amount.
        </p>
    </div>
</div>
<app-calculator-form></app-calculator-form>
<app-scroll-up-btn></app-scroll-up-btn>