<app-back-btn></app-back-btn>
<div class="about-us-container">
    <div class="image-container">
        <img src="../../assets/images/profile image.jpg" alt="Profile image">
    </div>
    <div class="name-container">
        <h1>Youssef Higazy</h1>
    </div>
    <div class="description-container">
        <p>
            I am a Software Engineer student at the University of North Texas and currently a Software Engineer Intern, builds Software Packages 
            that are being used by businesses to help them boost their achievements and make their work easier. I am also passionate about mathematics 
            which I use significantly in my work while building complex and huge applications that require complicated calculations
        </p>
    </div>
    <div class="social-container">
        <a href="https://github.com/youssefhigazy"><i class="fa fab fa-github"></i></a>
        <a href="mailto:yoyohigazy77@gmail.com"><i class="fa fas fa-envelope"></i></a>
    </div>
</div>