<app-back-btn></app-back-btn>
<div class="main-container">
    <div class="title-container">
        <h2>Resources</h2>
    </div>
    <div class="calculator-description">
        <p>
            This calculator calculates the BMI (Body Mass Index) which indicates if the person is applicable to
            any of the following classifications:
        </p>
        <ul>
            <li><strong>Underweight: BMI < 18.5</strong></li>
            <li><strong>Normal: 18.5 <= BMI <= 24.9</strong></li>
            <li><strong>Overweight: 25 <= BMI <= 29.9</strong></li>
            <li><strong>Obese: 30 <= BMI <= 34.9</strong></li>
            <li><strong>Extremely Obese: 35 < BMI</strong></li>
        </ul>
        <div class="cdc-description">
            This classification is based on the information that has been featured on the <strong>CDC website </strong><a target="_blank" href="https://www.cdc.gov/healthyweight/assessing/bmi/adult_bmi/index.html#InterpretedAdults">here</a>.
            <div class="cdc-image-container">
                <!-- <img src="../../assets/images/bmi-measurements.jpg" alt="BMI Measurements"> -->
            </div>
        </div>
        <div class="canada-health-container">
            <p>
                The calculator's results have been tested and compared to the results produced by <strong>Diabettes Canada website </strong><a target="_blank" href="https://www.diabetes.ca/managing-my-diabetes/tools---resources/body-mass-index-(bmi)-calculator">here</a>
            </p>
        </div>
    </div>
</div>